.restaurant {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 3rem;
    & h2{
        margin: 4rem 0 0 0;
    }
    & > div{
        padding: 1rem 0 2rem 0;
    }
}

.restaurant-card{
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 16px #0000002e;
    flex-grow: 1;
    transition: all 0.2s;
    flex-basis: 35%;
    min-width: 15rem; 
}
.new {
    position: relative;
  }
  .new::before {
    content: "Nouveau";
    position: absolute;
    height: 2rem;
    width: 5rem;
    background-color:#99e2d0;
    color: darken(#99e2d0, 50%);
    display: grid;
    place-items: center;
    right: 1rem;
    top: 1rem;
  }
  

.restaurant-card p{
    margin:0.5rem 0 1rem 1rem;
    font-size: 1rem;
    color: rgb(77, 77, 77)
}

.restaurant-card h3{
    margin: 1rem 1rem 0 1rem;
}

.restaurant-card:hover{
    transform: scale(1.02);
    box-shadow: 3px 5px 11px -5px #000000;
}

.restaurant-card-image img{
    border-radius: 1rem 1rem 0 0;
    height: 12rem;
    width: 100%;
    object-fit: cover;
}

.restaurant .restaurant-flex{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.restaurant .restau_description::before {
    display: inline-block;
    position: absolute;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f004";
    font-size: 2rem;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: inherit;
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 1;
    transition: all 200ms ease-in-out;
  }
  .restaurant .restau_description::after {
    display: inline-block;
    position: absolute;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f004";
    font-size: 2rem;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 200ms ease-in-out;
    background-image: linear-gradient(to top, #9356dc, #ff79da);
  }
  .restaurant .restau_description:hover::after {
    opacity: 1;
    transform: translateY(-50%) scale(1.1);
  }
 