@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,300;0,500;1,400&family=Shrikhand&display=swap');



/* Wildcard */

*,
::before
::after {
    box-sizing: border-box;
}

body{
    margin:0px;
}


header{
    font-family: "shrikhand", cursive;
    text-align: center;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
    padding: 0.3rem;
}